<div>
    <div *ngIf="currentUser.id" class="edit-form">
      <h4>Command</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentUser.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            [(ngModel)]="currentUser.address"
            name="address"
          />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              [(ngModel)]="currentUser.phone"
              name="phone"
            />
          </div>
          <div class="form-group">
            <label for="produit">Product</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="currentUser.produit"
              name="produit"
            />
          </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentUser.published ? "Published" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentUser.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentUser.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteUser()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUser()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentUser.id">
      <br />
      <p>Cannot access this Command...</p>
    </div>
  </div>
